
@keyframes fadeInSpin {
  0% {
    opacity: 0;
    transform: scale(0) rotate(-80deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

.feed {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  width: 100%;
}

.feed--item {
  animation-name: fadeInSpin;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  background: #002e4b;
  display: block;
  height: 650px;
  margin: 0 0 5vw;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  width: 61.8%;
  min-width: 300px;
}

.feed--item-image {
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  opacity: 1;
  transition: opacity 0.45s ease-in;
}

.feed--item:hover .feed--item-image {
  opacity: 0.5;
}

.feed--item-info {
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  height: 0;
  padding: 1rem 1rem 1rem 2rem;
  opacity: 0;
  width: 100%;
  transition: height 0.1s ease-in,
              opactiy 0.35s ease-in;
}

.feed--item:hover .feed--item-info {
  height: 38.2%;
  opacity: 1;
}

.feed--item-info-title {
  font-size:  1.6181rem;
  font-weight: 800;
  font-style: italic;
}

.feed--item-info-meta {
  font-weight: 200;
  font-size: 1rem;
}
